/* Add CSS Styling */

.OddNum{
    background-color: rgb(155, 92, 111);
    font-family: Verdana, DejaVu Sans,sans-serif;
    color:rgb(0, 0, 0);
    font-size: 24px;
}
#Number2 {
    color: blue;font-size: 36px;
}


#Number4{
    background-color: lightgreen;
    color: rgb(0, 0, 0);font-size: 24px;
    font-weight: bold;
}