/* Add CSS Styling */

.ClickMe{
    background-color: black;color: white;
}

.button{
    font-size: 28px;
    font-family: Helvetica,"Times New Roman", sans-serif;
}

.Latter{
    background-color: yellow;
}